.card{
    text-align: center;
    /* background-color: lightblue; */
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg');
    height: 50vh;
    width: 100vw;
    padding: 10px;
    background-size: cover;
}
.main-heading{
    color: blue;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.paragraph{
    color: grey;
    font-family: "Roboto";
    font-size: 20px;
    font-style: oblique;
}

.button{
    border-width: 2px;
    border-radius: 10px;
    border-color: orange;
    border-style: solid;
    background-color: #25b1cc;
}


